%li.place.item{ id: "place_#{place_item_counter+1}" }
  %h3
    = place_item.name
  .info
    .icon
      = image_tag place_item.icon
    .map
    %address
      = place_item.address
    .rating
      = place_item.rating
