- if ! @errors
  .map
    = static_google_map(@place.latlng, @place.latlng)

  .info
    %h2
      = @place.name
    .rating
      = star_rating( @place.rating )

    .contact
      = @place.address
      %br/
      = @place.phone
      %br/
      = link_to(@place.website, @place.website, target: '_blank') if @place.website

  .info.info_2
    %button.button{disabled: true}
      = @copy[:check_in]

- else
  .info{ 'data-test_id' => 'error_messaging' }
    = @errors
